* {
    padding: 0;
    margin: 0;
    font-family:monospace;
}

#title {
    font-size: 48px;
    display:flex;
    justify-content: center;
    padding: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;

}

.start-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-menu h2 {
    margin: 24px;
    font-size: 24px;
}

.start-menu h3 {
    margin: 12px;
}

.start-menu button {
    height: 30px;
    width: 120px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;

}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 6px solid black;
    width: 50%;
    border-radius: 8px;
    margin: 16px 0 64px;
    font-size: 16px;
}

#player, #computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-size: 16px;
}

#player p, #computer p {
    padding-top: 16px;
    font-size: 40px;

}

.gameboard{
    display: flex;
    border: 6px solid black;
    border-radius: 8px;
    margin: 8px;
    width: 50%;
    justify-content: space-evenly;
}

.player, .computer, #scoreboardMessage {
    flex-grow: 1;
}


#scoreboardMessage {
    display: flex;
    justify-content: center;
    align-items: center;

}


input {
    width: 100px;
    height: 100px;    
}

.select {
    padding: 30px 16px;
}

.game-over {
    background-color: black;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px;
}

.game-over h2 {
    font-size: 32px;
}

.game-over p {
    font-size: 20px;
}

.game-over button {
    height: 30px;
    width: 120px;
    background-color: white;
    border: none;
    box-shadow: none;

}

.game-over h2, .game-over p, .game-over button {
    margin: 32px;
}

